@mixin scroll-bar() {
  overflow: auto;
  /* width */
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #d7d7d7;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px;
  }
}